<span class="passage-prompt--one_liner">
  <span class="passage-byline">(<%= prompt.passage.byline %>)</span>
  <span class="passage-one-liner"><%= truncate(prompt.content, length: 30)%></span>
</span>
