<article class="prompt--paragraph">
  <header class="passage-header">
    <h1 class="passage-title"><%= prompt.passage.title %></h1>
    <p class="passage-author">By: <%= prompt.passage.author %></p>
  </header>
  <p class="passage-body">
    <%= prompt.passage.body %>
  </p>
  <p class="prompt-content">
    <%= prompt.content %>
  </p>
</article>
