/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require reset
*= require variables
*= require_tree ./modules
*= require_tree ./tests
*= require_tree ./test_taking
*= require_tree ./prompts
*= require_self
*/

* {
  box-sizing: border-box;
}
html, body {margin: 0;padding: 0; overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 116%;
  line-height: 1.2;
}


.box {
  background-color: white;
}

.box-container--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
