<footer class="site-footer">
  <p>
    Created by <a title="metcalfe.rocks" href="//metcalfe.rocks">Patrick Metcalfe</a> for <a href="//www.bectutoring.com"><abbr title="Becera Educational Consulting">BEC</abbr>
  </p>
</footer>
