<header class="site-header">
  <h1 class="site-header-logo site-header-logo--text site-header-box">Exquiza</h1>
  <nav class="site-nav site-header-box site-header-box--alpha">
    <%= app.nav_actions %>
  </nav>
  <%= app.session_actions %>
</header>
