<header class="test-header--edit test-header page-header">
  <h1 class="page-heading">Editing Test</h1>
</header>

<%= render 'form' %>

<%= link_to 'Show', @test %> |
<%= link_to 'Back', tests_path %>
